
@font-face {
    font-family: StarWars;
    src: url(./fonts/Rebellion.otf);
}

@font-face {
    font-family: AureBesh;
    src: url(./fonts/Aurebesh.otf);
}

#menu {
    position: absolute;
    height: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nameSearch {
    background-image: url('images/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.footer {
	color:grey;
	font-size: 75%;
}

img {
	max-width:100%;
}

td.permission {
	border: 0px;
	text-align:center;
}

th.rotate_permission {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  border: 0px;
}

th.rotate_permission > div {
  transform:
    /* Magic Numbers */
    translate(5px, 51px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 25px;
  font-size: 70%;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

/* droid image section */
.images {
        position: relative;
        float: left;
}
.droid_image {
	width:240px;
	position:relative;
}

.droid_image img {
	max-width:100%;
	max-height:100%;
}

.droid_image a {
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:3px;
	right:3px;
	background-image: url('images/delete_button.png');
	overflow:hidden;
	text-indent:-9999px;
}

/* Topps cards */
.topps {
  max-width: 1200px;
  margin: 10px auto 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.image_upload {
	height: 50px;
	width: 240px;
	position: relative;
	float: right;
}
#banner {
	height: 100px;
	background-color: #6699cc;
	background-image: url(images/MOT_Banner.png);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 10px;
	text-align: left;
	overflow: hidden;
}
.main {
	position: relative;
	padding: 3px;
}
#mot_test {
	position: relative;
	padding: 3px;
	width: 750px;
	margin-top: 150px;
}
#mot_block {
        position: relative;
	width: 500px;
}
#mot_block table {
	width: 400px;
}

.droid_column_left {
	float: left;
	width: 600px;
}

.droid_column_right {
	float: right;
}

/* Comments Section */
.comments {
	position: relative;
	border: 0px;
	float: right;
	width: 550px;
	padding: 5px;
	margin: 5px;
}
#officer {
	background-color: grey;
}
#time {
	float: right;
}

.item.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.info {
	position: relative;
	float: left;
	width: 600px;
}
.info table {
	width: 95%;
}

.mot {
        position: relative;
        float: left;
        width: 600px;
}

.mot table {
	width: 95%;
}

p.mot_pass {
	color: green;
}
p.mot_na {
	color: black;
}
p.mot_fail {
	color: red;
}

.notes {
        position: relative;
        float: left;
        width: 600px;
}

table.members {
        border: 1px solid black;
	border-collapse: collapse;
	width: 95%;
}
table.members tr,td,th{
	border: 1px solid black;
	padding: 4px;
}
tr.members {
	text-align: center;
}
table.droid_list {
	margin: 2px;
	padding: 2px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 95%;
}
table.droid_list tr,td,th{
        border: 1px solid black;
}

table.achievements_list {
	margin: 2px;
        padding: 2px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 95%;
}
table.achievements_list tr,td,th{
        border: 1px solid black;
}

table.events_list {
	margin: 2px;
        padding: 2px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 95%;
}
table.events_list tr,td,th{
        border: 1px solid black;
}

table.course_list {
	margin: 2px;
        padding: 2px;
        border: 1px solid black;
        border-collapse: collapse;
        width: 95%;
}
table.course_list tr,td,th{
        border: 1px solid black;
}

table.leaderboard {
	margin: 2px;
        padding: 2px;
        border: 1px solid black;
        border-collapse: collapse;
	margin-left:auto;
        margin-right:auto;
        width: 95%;
}
table.leaderboard tr,td,th{
        border: 1px solid black;
}

table.droid_images {
	border: 0px;
}

table.droid_images tr,td,th {
	border: 0px;
}

table.droid tr,td,th {
	border: 1px solid black;
}


/* Container is necessary because td cannot be positioned relative */
td .tooltipcontainer {
    position: relative;
}
td .tooltip {
    display: none;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    /* More positioning, heigh, width, etc */
}
td a:hover .tooltip {
    display: block;
}
.mug_shot {
	width:240px;
	position:relative;
	margin: 5px;
}
.mug_shot img {
	max-width:100%;
	max-height:100%;
}
.mug_shot a {
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:3px;
	right:3px;
	background-image: url('images/delete_button.png');
	overflow:hidden;
	text-indent:-9999px;
}

.mug_shot_container {
	width: 240px;
}

/* entire container, keeps perspective */
.flip-container{
/*perspective*/
-webkit-perspective:1000;
   -moz-perspective:1000;
    -ms-perspective:1000;
     -o-perspective:1000;
        perspective:1000;
}
/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper{
/*transform*/
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
.flip-container, .front, .back{
width:240px;
height:332px;
}
/* flip speed goes here */
.flipper{
/*transition*/
-webkit-transition:0.6s;
   -moz-transition:0.6s;
     -o-transition:0.6s;
        transition:0.6s;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
position:relative;
}
/* hide back of pane during swap */
.front, .back{
/*backface-visibility*/
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
position:absolute;
top:0;
left:0;
}
/* front pane, placed above back */
.front{
z-index:2;
}
/* back, initially hidden pane */
.back{
/*transform*/
-webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 12px;
  font-family: StarWars;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav ul {
	margin-top: 55px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*******
 * Member profile page
 *
 ******/
.member-container {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "Member-Info Mug-Shot" "Droid-List Droid-List" "Achievements Achievements" "Events Events" "Course-Times Course-Times";
}

.Mug-Shot { 
  grid-area: Mug-Shot; 
  padding-top: 50px;
}

.Member-Info { grid-area: Member-Info; }

.Droid-List { grid-area: Droid-List; }

.Achievements { grid-area: Achievements; }

.Events { grid-area: Events; }

.Course-Times { grid-area: Course-Times; }

/*******
 * Droid data page
 *
 *******/
.droid-container {
  display: grid;
  grid-template-columns: auto 800px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "Droid-Info Droid-Images" "Droid-Info Droid-Images" "Comments MOT-List" "Back-Story Builders-Notes";
}

.Back-Story { grid-area: Back-Story; }

.Builders-Notes { grid-area: Builders-Notes; }

.Droid-Info { grid-area: Droid-Info; }

.Comments { grid-area: Comments; }

.MOT-List { grid-area: MOT-List; }

.Droid-Images { 
	grid-area: Droid-Images; 
	align: right;
}

/*****
 * Pop up image window
 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
